<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">/
    <div class="container">
      <h1 class="title">
        <%= @error %>
      </h1>
      <h2 class="subtitle">
        <%= @message %>
      </h2>
    </div>
  </div>
</section>