
          <div class="modal fade" id="confirm-approve-with-edits-{{draft.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">

                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title">Draft - Approve With Edits</h4>
                </div>

                <div class="modal-body">
                  <form class="approve-edits-form" action="{% url "inbox-approve-draft-edits" %}" method="POST">{% csrf_token %}
                  <input type="hidden" name="draft_pk" value="{{draft.id}}">
                  Draft:
                  <textarea name="draft_text" class="form-control" rows="10">{{draft.text}}</textarea>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" value="Save and Approve" class="btn btn-success"/>      
                  </form>
                </div>

              </div>
            </div>
          </div>  