{% load crispy_forms_tags %}
  <div class="modal fade" id="createCommonFeedback_{{subcategory.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Subcategory: {{subcategory.name}} </h4>
        </div>

        <div class="modal-body">
          <h4> Add Common Feedback</h4>
          <form class="form-horizontal" id="createFeedbackForm" action="{% url "category-create-feedback" subcategory.id %}" method="POST">{% csrf_token %}        

<!-- <div style="padding-left: 20px; padding-right: 20px;">
  <div class="form-group">

    <label for="feedback">Feedback</label>
    <textarea name="feedback" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter common feedback"></textarea>
  </div>     
</div>        

<div style="padding-left: 20px; padding-right: 20px;">
  <div class="form-group">

    <label for="observation">Observation </label>
    <textarea name="observation" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter observation"></textarea>
  </div>     
</div>     -->
{% with subcategory|get_feedback_pieces as feedback_pieces %}


<div style="padding-left: 20px; padding-right: 20px;">



  <div class="form-group">

  <label for="observation_pk">Existing Observation: </label>
    <select class="observation-dropdown" name="observation_pk">
      <option value="">-</option>
      {% for observation in subcategory|get_subcategory_observations %}
        <option value="{{ observation.id }}">{{ observation.observation }}</option>
      {% endfor %}
    </select>
    <br>

    <label for="observation">Observation</label>
    <textarea name="observation" type="text" class="form-control observation-new" aria-describedby="emailHelp" placeholder="Enter the observation"></textarea>
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>     
</div>

<div style="padding-left: 20px; padding-right: 20px;">
  <div class="form-group">

    <label for="observation_type">Observation Type</label>
    <label class="radio-inline"><input type="radio" value="1" name="observation_type">Positive</label>
    <label class="radio-inline"><input type="radio" value="0" name="observation_type">Negative</label>
    <label class="radio-inline"><input type="radio" value="-1" name="observation_type">Neutral</label>    
  </div>     
</div>    


<div style="padding-left: 20px; padding-right: 20px;">


  <div class="form-group">
  <label for="feedback_pk">Existing Feedback: </label>
    <select class="feedback-dropdown" name="feedback_pk">
      <option value="">-</option>
      {% for feedback in subcategory|get_subcategory_feedbacks %}
        <option value="{{ feedback.id }}">{{ feedback.feedback }}</option>
      {% endfor %}
    </select>
    <br>    

    <label for="feedback">Feedback</label>
    <textarea name="feedback" type="text" class="form-control feedback-new" aria-describedby="emailHelp" placeholder="Enter the solution to the problem"></textarea>
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>     
</div>              

<div style="padding-left: 20px; padding-right: 20px;">
  <div class="form-group">

  <label for="feedback_explanation_pk">Existing Feedback Explanation:  </label>
    <select class="explanation-dropdown" name="feedback_explanation_pk">
      <option value="">-</option>
      {% for feedback_explanation in subcategory|get_subcategory_feedback_explanations %}
        <option value="{{ feedback_explanation.id }}">{{ feedback_explanation.feedback_explanation }}</option>
      {% endfor %}
    </select>
    <br>        

    <label for="feedback_explanation">Feedback Explanation</label>
    <textarea name="feedback_explanation" type="text" class="form-control explanation-new" aria-describedby="emailHelp" placeholder="Why is this a good solution?"></textarea>
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>     
</div>   

          <input name="subcategory_pk" type="hidden" value="{{subcategory.id}}">
<!--             <div class="form-group">
                <textarea name="feedback" class="form-control" rows="3"></textarea>
            </div> -->
        </div>
        {% endwith %}

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input type="submit" value="Create" class="btn btn-primary"/>      
          </form>
        </div>

      </div>
    </div>
  </div>