{% for group in rotation_groups %}
   {% if group.students.all %}
       {% for student in group.students.all %}
       <div class="col-lg-10">
		<div class="feedback-student-writer" style="display: none;" id="feedback_{{student.id}}">       
			<div class="panel panel-default">
				<div class="panel-heading"><h2>{{student.first_name}} {{student.last_name}}</h2></div>
	  			<div class="panel-body">
			<!--   <div class="panel-footer">Panel footer</div> -->

					 {% with student.id|get_student_draft:week as draft %}
						<div class="col-lg-12">
							
						    
						    
						    	<form class="draft-form" action="{% url 'feedback-home-save' student.id %}" method="POST">{% csrf_token %}

						    		<div id="status_1_{{student.id}}" class="alert alert-warning" style="display:none;" role="alert">
						    			<span class="glyphicon glyphicon-exclamation-sign"></span> This feedback draft is currently awaiting approval from the instructor.
					    			</div>


						    		{% if draft.status == 1 %}
						    		<div  class="alert alert-warning" role="alert">
						    			<span class="glyphicon glyphicon-exclamation-sign"></span> This feedback draft is currently awaiting approval from the instructor.
					    			</div>
					    			{% elif draft.status == 2 %}
						    		<div class="alert alert-danger" role="alert">
						    			<span class="glyphicon glyphicon-exclamation-sign"></span> This feedback draft needs revision. See notes from instructor.
					    			</div>

					    			{% elif draft.status == 3 %}
					    			<div class="alert alert-success" role="alert">
					    				<span class="glyphicon glyphicon-ok-sign"></span> This feedback draft has been approved.
					    			</div>
						    		{% endif %}
						    		<div class="form-group">
						    			{% if draft.status == 3 or draft.status == 1 %}
						    				<textarea disabled name="draft_text" class="form-control" rows="10">{{draft.text}}</textarea>	
						    			{% else %}
							        	<textarea id="draft-student-{{student.id}}" name="draft_text" class="form-control" rows="10">{{draft.text}}</textarea>	
							        	{% endif %}				      
						    		</div>
					    		<input type="hidden" name="student" value="{{student.id}}">
					    		<input type="hidden" name="draft" value="{{draft.id}}">
					    		<input type="hidden" name="week_num" class="week_number_input" value='{{week}}'>
					    		

					    		<div class="col-lg-7" id="category_grades_{{student.id}}">
					    		{% for category in main_categories %}
					    			{% with draft|get_grade_for_category:category as category_grade %}
					    			
					    				<div class="col-sm-8">
											<label for="grade_{{category.name}}">{{category.name}}</label>	
										</div>	
										<div class="col-sm-4">	    		
										<select name="grade_{{category.id}}">

											{% if draft.status == 3 or draft.status == 1 %}
												<option disabled selected value="{{category_grade.grade}}">{{category_grade.grade}}</option>
											{% else %}

												{% for val in grade_scale %}
													{% if category_grade.grade|compare_grade:val %}
														<option selected value="{{val}}">{{val}}</option>
													{% else %}
														<option value="{{val}}">{{val}}</option>
													{% endif %}
												{% endfor %}
											{% endif %}
										</select>
										</div>
									{% endwith %}
									<br>
								{% endfor %}
							</div>
							<div class="col-md-4">
								Last Updated: <span id="feedbackupdated_{{student.id}}">{{draft.date_updated}}</span><br>
								{% if draft.status != 1 and draft.status != 3 %}

									<div style="padding-top:10px;">
										<div id="save_send_btns_{{student.id}}">
									    	<button data-toggle="tooltip" title="Save draft" type="submit" name="save" value="save" class="btn btn-success"> <span class="glyphicon glyphicon-floppy-disk"></span></button>
									    	<!-- <a href="#" data-toggle="modal" data-target="#confirm-modal"> test submit</a> -->
									    	<span data-toggle="modal" data-target="#confirm-send-to-instructor-{{student.id}}" >
									    	<a data-toggle="tooltip" title="Send to instructor" class="btn btn-info"><span class="glyphicon glyphicon-send"></span></a>
									    </span>



									<div class="modal fade" id="confirm-send-to-instructor-{{student.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									    <div class="modal-dialog">
									        <div class="modal-content">
									            <div class="modal-header">
									                <h3>Send Draft to Instructor</h3>
									            </div>
									            <div class="modal-body">
									                <span>Are you sure you would like to send this draft to the instructor for approval?</span>
									            </div>
									            <div class="modal-footer">
									                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
									                <button name="send" value="send" type="submit" class="btn btn-info btn-ok">Send to Instructor</a>
									            </div>
									        </div>
									    </div>
									</div>


								    	</div>

										     
									 										    								    								    	
										   	 <div id="saved_{{student.id}}" class="alert alert-success alert-dismissible" style="display:none; float:right;" role="alert">
										   	 	  Changes Saved!
										    </div>
	 											<div id="error_{{student.id}}" class="alert alert-danger alert-dismissible" style="display:none; float:right;" role="alert">
										   	 	  Error. Not Saved.
										    </div>										    
									
									        </div>
								 


						    	{% endif %}
								</form>
							

								</div>
						</div>
						<div class="col-lg-12">
							
							{% with student.id|get_student_feedback:week as notes %}
							<h3>Notes ({{notes.count}})</h3>
								<ul>
								{% for note in notes %}
									<li>
									<span><p><i class="fa fa-th-large"></i> {{note.sub_category.main_category}} <i class="fa fa-pie-chart"></i> {{note.sub_category.name}}</p>
											<li><p><i class="fa fa-eye"></i> {% if not note.observation %}
												No Observation

												{% else %} 
												{{note.observation.observation}}
												{% endif %}
												</p>
												<p>
													{% if note.note %} 
													Custom Note: {{note.note}}
													{% endif %}
													<a href="#" data-toggle="modal" data-target="#help_{{note.id}}"><i class="fa fa-info-circle"></i> Help</a>
												</p>
											</li>
										</li>
									</span>
								</li>
								<!-- 	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#helpful-feedback-pieces">
									  Help
									</button>	 -->								
									

									<div class="modal fade" id="help_{{note.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
									  <div class="modal-dialog modal-lg" role="document">
									    <div class="modal-content">
									      <div class="modal-header">
									        <h3 class="modal-title" id="exampleModalLabel">Helpful Feedback Pieces </h3>
									        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									          <span aria-hidden="true">&times;</span>
									        </button>
									      </div>
									      <div class="modal-body">
									      	
									      	<h4><b><i class="fa fa-th-large"></i> Main Category:</b> {{note.sub_category.main_category}}</h4>
								      		<h4><b><i class="fa fa-pie-chart"></i> Subcategory:</b> {{note.sub_category.name}}</h4>
								      		{% if note.observation %}
									      	<h4><b><i class="fa fa-eye"></i> Observation:</b> {{note.observation.observation}}</h4>
									      	{% endif %}
     	
     										{% with note.sub_category as subcategory %}

     											{% include '_feedback_piece_table_partial.html' %} 

     										{% endwith %}

									      </div>
									      <div class="modal-footer">
									        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									        {% if draft.status != 1 and draft.status != 3 %}
									        <button type="button" data-id='{{student.id}}' class="btn btn-success add-to-feedback-btn">Add</button>									   
									        {% endif %}
									      </div>
									    </div>
									  </div>
									</div>


								{% endfor %}
							</ul>
							{% endwith %}


							<hr>

							{% with draft|get_revision_notifications as revision_notifications %}
							<h3>Status: ({{revision_notifications.count}})</h3>
								{% for r_notification in revision_notifications %}
									{{r_notification.notification}}
									Created: {{r_notification.created_ts}}
									Updated:  {{r_notification.updated_ts}}
								{% endfor %}
							{% endwith %}
						</div>
						{% endwith %}
					</div>
				</div>
			</div>
			</div>
 		{% endfor %}
	{% endif %}
{% endfor %}

{% if not rotation_groups %}

<h3>No groups assigned for this rotation yet. </h3>
{% endif %}
<!-- Modal -->



