{% for group in rotation_groups %}
   {% if group.students.all %}
       {% for student in group.students.all %}
       <div class="col-lg-10">
		<div class="feedback-student-writer" style="display: none;" id="feedback_{{student.id}}">       
			<div class="panel panel-default">
				<div class="panel-heading"><h2>{{student.first_name}} {{student.last_name}}</h2></div>
	  			<div class="panel-body">
			<!--   <div class="panel-footer">Panel footer</div> -->

					 {% with student.id|get_student_draft:week as draft %}
						<div class="col-lg-9">
							
						    
						    
						    	<form class="draft-form" action="{% url 'feedback-home' %}" method="POST">{% csrf_token %}
						    		{% if draft.status == 1 %}
						    		<div class="alert alert-warning" role="alert">
						    			<span class="glyphicon glyphicon-exclamation-sign"></span> This feedback draft is currently awaiting approval from the instructor.
					    			</div>
					    			{% elif draft.status == 2 %}
						    		<div class="alert alert-danger" role="alert">
						    			<span class="glyphicon glyphicon-exclamation-sign"></span> This feedback draft needs revision. See notes from instructor.
					    			</div>

					    			{% elif draft.status == 3 %}
					    			<div class="alert alert-success" role="alert">
					    				<span class="glyphicon glyphicon-ok-sign"></span> This feedback draft has been approved.
					    			</div>
						    		{% endif %}
						    		<div class="form-group">
						    			{% if draft.status == 3 or draft.status == 1 %}
						    				<textarea disabled name="draft_text" class="form-control" rows="10">{{draft.text}}</textarea>	
						    			{% else %}
							        	<textarea name="draft_text" class="form-control" rows="10">{{draft.text}}</textarea>	
							        	{% endif %}				      
						    		</div>
					    		<input type="hidden" name="student" value="{{student.id}}">
					    		<input type="hidden" name="draft" value="{{draft.id}}">
					    		<input type="hidden" name="week_num" class="week_number_input">
					    		

					    		<div class="col-lg-7">
					    		{% for category in main_categories %}
					    			{% with draft|get_grade_for_category:category as category_grade %}
					    			
					    				<div class="col-sm-8">
											<label for="grade_{{category.name}}">{{category.name}}</label>	
										</div>	
										<div class="col-sm-4">	    		
										<select name="grade_{{category.id}}">

											{% if draft.status == 3 or draft.status == 1 %}
												<option disabled selected value="{{category_grade.grade}}">{{category_grade.grade}}</option>
											{% else %}

												{% for val in grade_scale %}
													{% if category_grade.grade|compare_grade:val %}
														<option selected value="{{val}}">{{val}}</option>
													{% else %}
														<option value="{{val}}">{{val}}</option>
													{% endif %}
												{% endfor %}
											{% endif %}
										</select>
										</div>
									{% endwith %}
									<br>
								{% endfor %}
							</div>
								Last Updated: {{draft.date_updated}} <br>
								{% if draft.status != 1 and draft.status != 3 %}
									<div style="padding-top:10px;">
								    	<button data-toggle="tooltip" title="Save draft" type="submit" name="save" value="save" class="btn btn-success"> <span class="glyphicon glyphicon-floppy-disk"></span></button>
								    	<!-- <a href="#" data-toggle="modal" data-target="#confirm-modal"> test submit</a> -->
								    	<button data-toggle="tooltip" title="Send to instructor" type="submit" name="send" value="send" class="btn btn-info"><span class="glyphicon glyphicon-send"></span></button>
								    </div>
						    	{% endif %}
								</form>
							


						</div>
						<div class="col-lg-3">
							
							{% with student.id|get_student_feedback:week as notes %}
							<h3>Notes ({{notes.count}})</h3>
								{% for note in notes %}
									<span>{{note.sub_category.name}} - {{note.note}} - {{note.observation}}</span>
								<!-- 	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#helpful-feedback-pieces">
									  Help
									</button>	 -->								
									<p><a href="#" data-toggle="modal" data-target="#help_{{note.sub_category.id}}">See Helpful Feedback Pieces For {{note.sub_category.name}} </a></p>

									<div class="modal fade" id="help_{{note.sub_category.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
									  <div class="modal-dialog modal-lg" role="document">
									    <div class="modal-content">
									      <div class="modal-header">
									        <h3 class="modal-title" id="exampleModalLabel">Help - {{note.sub_category.name}} </h3>
									        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									          <span aria-hidden="true">&times;</span>
									        </button>
									      </div>
									      <div class="modal-body">
									      	{% with note|get_note_feedback_pieces as feedback_pieces %}
									      	{% if note.observation %}
									      	
									      	<p><b>Observation:</b> {{note.observation}}</p>
									      	{% endif %}
									      	<ul>
									      		{% for feedback_piece in feedback_pieces %}
								                <h4> Feedback Piece {{forloop.counter}}</h4>
								                <li>
								                	{% if not note.observation %}
								                  <p><b>Observation:</b> {{feedback_piece.observation}}</p>
								                  {% endif %}
								                  <p><b>Feedback: </b> {{feedback_piece.feedback.feedback}}</p>
								                  <p><b>Why a good solution: </b> {{feedback_piece.feedback_explanation.feedback_explanation}}</p>
								                  <hr>
								                </li>
									      		{% endfor %}
									      	</ul>
								      		{% endwith %}
									        <p>Helpful feedback pieces display here.</p>
									      </div>
									      <div class="modal-footer">
									        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									       <!--  <button type="button" class="btn btn-primary">Save changes</button> -->
									      </div>
									    </div>
									  </div>
									</div>


								{% endfor %}
							{% endwith %}

							<hr>

							{% with draft|get_revision_notifications as revision_notifications %}
							<h3>Status: ({{revision_notifications.count}})</h3>
								{% for r_notification in revision_notifications %}
									{{r_notification.notification}}
									Created: {{r_notification.created_ts}}
									Updated:  {{r_notification.updated_ts}}
								{% endfor %}
							{% endwith %}
						</div>
						{% endwith %}
					</div>
				</div>
			</div>
			</div>
 		{% endfor %}
	{% endif %}
{% endfor %}

{% if not rotation_groups %}

<h3>No groups assigned for this rotation yet. </h3>
{% endif %}
<!-- Modal -->

{% for main in main_categories %}

	{% with main|get_subcategories as subcategories %}

	{% for subcategory in subcategories %}
	<div class="modal fade" id="help__{{subcategory.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h3 class="modal-title" id="exampleModalLabel">Help - {{subcategory.name}} </h3>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	{% with subcategory|get_feedback_pieces as feedback_pieces %}
	      	<ul>
	      		{% for feedback_piece in feedback_pieces %}
                <h4> Feedback Piece {{forloop.counter}}</h4>
                <li>
                  <p><b>Observation:</b> {{feedback_piece.observation}}</p>
                  <p><b>Feedback: </b> {{feedback_piece.feedback.feedback}}</p>
                  <p><b>Why a good solution: </b> {{feedback_piece.feedback_explanation.feedback_explanation}}</p>
                  <hr>
                </li>
	      		{% endfor %}
	      	</ul>
      		{% endwith %}
	        <p>Helpful feedback pieces display here.</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	       <!--  <button type="button" class="btn btn-primary">Save changes</button> -->
	      </div>
	    </div>
	  </div>
	</div>
	{% endfor %}
	{% endwith %}
{% endfor %}


