{% extends "base.html" %}

{% block content %}


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Feedback <small>Manager</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i> Feedback Manager
            </li>
        </ol>
    </div>
</div>

 
  {% for category in main_categories %}

	  <div class="category-main">
	    <div class="panel panel-default">
	      <div class="panel-heading">
	        <h3> 
	         <i class="fa fa-th-large"></i> {{category.name}}
	        </h3>

	      </div>
	      <div class="panel-body">
	      	{% with category.id|get_subcategories as subcategories %}

	        	<!-- <h3><i class="fa fa-pie-chart"></i> Subcategories </h3> -->
	        <!-- 	<hr> -->

	        	<ul class="nav nav-pills">
        		{% for subcategory in subcategories %}
					
					 {% if forloop.first %}
					    	<li class="active"><a data-toggle="pill" href="#tab_sub_{{subcategory.id}}"><i class="fa fa-pie-chart"></i> {{subcategory.name}}</a></li>
					    {% else %}
					    	<li><a data-toggle="pill" href="#tab_sub_{{subcategory.id}}"><i class="fa fa-pie-chart"></i> {{subcategory.name}}</a></li>
				    {% endif %}
				{% endfor %}
			  	</ul>
			  	<hr>

			  	 <div class="tab-content">  

		  	 			
				  {% for subcategory in subcategories %}


				 	{% if forloop.first %}
				    	<div id="tab_sub_{{subcategory.id}}" class="tab-pane fade in active">  
					{% else %}
						<div id="tab_sub_{{subcategory.id}}" class="tab-pane fade"> 
					{% endif %}			  	 	

							<h3><i class="fa fa-pie-chart"></i> Subcategory: 
	        				  {{subcategory}} <a data-subcategory="{{subcategory}}" data-id="{{subcategory.id}}" data-toggle="modal" data-target="#edit_observation_" role="button" class="btn btn-success float-right-button newobservation">New Observation <i class="fa fa-fw fa-eye"></i></a></h3>       				 


			  	 			{% include '_feedback_piece_table_partial.html' %}  
	        			
	    				</div>    				    				
    			
        		{% endfor %}
        		</div>

			{% endwith %}
			</div>	
		</div>	
	</div>	
<!-- 	</div>	 -->
	
	{% endfor %}
</div>	





<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Delete Observation
            </div>
            <div class="modal-body">
                <span> Are you sure you want to delete the observation: </span>
                 <b><span type="text" name="observationName" id="observationName"></span></b>
                 <span> ? </span>
            </div>
                 <div class="alert alert-warning" role="alert">
                  <span style="color: darkyellow;" class="fa fa-warning"></span>Warning! The feedbacks associated with this observation will also be deleted.
                  </div>            
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok">Delete</a>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="confirm-delete-explanation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Delete Feedback or Explanation
            </div>
            <div class="modal-body">
                <span> Are you sure you want to delete the feedback or explanation: </span>
                 <b><span type="text" name="deleteName" id="deleteName"></span></b>
                 <span> ? </span>
            </div>
                 <div class="alert alert-warning" role="alert">
                  <span style="color: darkyellow;" class="fa fa-warning"></span>Warning! If this is a feedback, the explanations associated with this feedback will also be deleted.
                  </div>            
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok">Delete</a>
            </div>
        </div>
    </div>
</div>

{% include '_edit_observation_partial.html' %}  

{% include '_edit_common_feedback_partial.html' %}

{% include '_edit_explanation_partial.html' %}  

{% endblock %}