{% extends "base.html" %}

{% block content %}
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Feedback <small>Editor</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i> Feedback
            </li>
        </ol>
    </div>
</div>
<div class="row">
  
  {% for noti in notifications %}
  <ul>
    <li>{{noti.notification }} </li>
    <li>{{noti.draft_to_approve.text}} </li>
    <li>{{noti.draft_to_approve.owner}} </li>
    <li>{{noti.draft_to_approve.student}} </li>
  </ul>
  {% endfor %}

</div>
<div class="row">
<!--     <div class="container"> -->
        <div class="col-lg-3">
            <div class="panel panel-info">
            {% for group, students in groups_to_students.items %}
              {% if students %}
               <div class="panel-heading"> <h5> Group # {{group.group_number}}</h5> </div>
               <div class="panel-body">
               
                   {% for student in students %}
                        <a href="#"><p>{{student.first_name}} {{student.last_name}}</p></a>
                   {% endfor %}
              
               </div>
               {% endif %}
            {% endfor %}
            </div>
        </div>
          {% include '_edit_feedback_partial.html' %}
<!--     </div>   --> 
</div> 

{% endblock %}