
              {% with subcategory.id|get_feedback_pieces as feedback_collection %}
              <h4> Feedback Pieces | {{subcategory.name}} | <a class="addcommonfeedback" data-toggle="modal" data-target="#createCommonFeedback_{{subcategory.id}}" role="button"><span class="fa fa-plus green-icon"></span></a></h4>

              {% if feedback_collection %}
               <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Observation Type</th>
                                <th>Observation</th>
                                <th>Feedback</th>
                                <th>Feedback Explanation</th>
                                <th>Edit </th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody> 

            <!--   <ul> -->
             <!--    <hr> -->
                {% for feedback_piece in feedback_collection %}
                <tr>
                  <td><h4>{{forloop.counter}}</h4>
                 </td>
               <!--    <li> -->
                    <td>
                      {% if feedback_piece.observation.observation_type == True %}
                      Positive
                      {% elif feedback_piece.observation.observation_type == False %} 
                      Negative
                      {% else %}
                        Neutral
                      {% endif %}
                   </td>             
               <td>
                    <p>{{feedback_piece.observation.observation}} </p>
                  </td>

                    <td><p>{{feedback_piece.feedback.feedback}}</p></td>
                    <td><p>{{feedback_piece.feedback_explanation.feedback_explanation}}</p></td>
                  <!--   <hr> -->
                 <!--  </li> -->
                 <td>
                  <a data-toggle="modal" data-target="#edit_feedbackpiece_{{feedback_piece.id}}" role="button"><span class="fa fa-edit"></span></a> 
                </td>
                <td>
                  <a href="#" data-href="{% url "delete-feedback-piece" feedback_piece.id %}" data-toggle="modal" data-target="#confirm-delete-feedbackpiece" data-id="{{feedback_piece.id}}" value="Delete" class="deletecategory"><span class="fa fa-minus red-icon"></span></a></td>
                   {% include '_edit_feedback_piece_partial.html' %}
                </tr>
                {% endfor %}
         <!--      </ul> -->
            </tbody>
                    </table>
                </div>        
                {% endif %}     
              {% endwith %}