{% extends "base.html" %}

{% block content %}
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Feedback <small>Writer</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i> Feedback - Week {{week}}
            </li>
        </ol>
    </div>
</div>
<div class="row">

  <div class="col-lg-12">
         <div id="all_saved" class="alert alert-success alert-dismissible" style="display:none;" role="alert">
            All Saved!
        </div>      
<!--     <div class="container"> -->
        <div class="col-lg-2">

          <div class="panel panel-default">
            <div class="panel-heading"> 

              <form class="week-form" action="{% url 'feedback-change-week' %}" method="POST">{% csrf_token %}
                <label for="weekDropDown">Week </label>
                <select id="weekDropDown" name="weekDropDown">

                  {% for i in loop_times %}
                    {% if i == week %}
                       <option selected value='{{i}}'>{{i}}</option>
                    {% else %}
                      <option value='{{i}}'>{{i}}</option>
                    {% endif %}
                  {% endfor %}
                </select> 
              </form> 
              <button class="btn btn-default" id="save-all-button"><i class="glyphicon glyphicon-floppy-disk"> </i> Save All    </button>
            </div>
          </div>
{% for group in rotation_groups %}
      {% if group.students.all %}
            <div class="panel panel-info">
            
               <div class="panel-heading"> 
                <h5> Group {{group.group_number}}</h5> 
               </div>
               
                <div class="panel-body">
               
                   {% for student in group.students.all %}
                    {% with student|get_student_draft:week as draft %}
                        <a class="student-feedback" data-id="feedback_{{student.id}}" href="#">
                          <p>{{student.first_name}} {{student.last_name}}
                            {% if draft.status == 1 %}
                              <span class="fa fa-circle-o-notch yellow-icon float-right"></span>
                            {% elif draft.status == 2 %}
                              <span class="glyphicon glyphicon-exclamation-sign revision-icon float-right"></span>
                            {% elif draft.status == 3 %}
                              <span class="glyphicon glyphicon-ok-sign green-icon float-right"></span>
                            {% endif %}

                          </p>
                        </a>
                        
                       
                      {% endwith %}
                   {% endfor %}
              
                </div>
            
              </div>
   {% endif %}
{% endfor %}            
          </div>



          {% include '_edit_feedback_partial.html' %}
    </div>   
</div> 

{% endblock %}