{% extends "base.html" %}

{% block content %}
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Inbox <small></small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i> Inbox - Week {{week}}
            </li>
        </ol>
    </div>
</div>
          <div class="panel panel-default">
            <div class="panel-heading"> 

              <form class="week-form" action="{% url 'inbox-change-week' %}" method="POST">{% csrf_token %}
                <label for="weekDropDown">Week </label>
                <select id="weekDropDown" name="weekDropDown">

                  {% for i in loop_times %}
                    {% if i == week %}
                       <option selected value='{{i}}'>{{i}}</option>
                    {% else %}
                      <option value='{{i}}'>{{i}}</option>
                    {% endif %}
                  {% endfor %}
                </select> 
              </form>      
            </div>
          </div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-warning">
      <div class="panel-heading"><h3>Drafts to Review ({{draft_notifications_need_approval.count}})</h3></div>
      <div class="panel-body">
        {% for noti in draft_notifications_need_approval %}
        <div class="col-lg-10">
          <span> <p> Notification: {{noti.notification}} </p></span>
          <span><p> Learning Assistant: {{noti.draft_to_approve.owner.get_full_name}}</p></span>
          <span> <p>Student: {{noti.draft_to_approve.student}} </p></span>
          <p> Feedback: {{noti.draft_to_approve.text}} </p>
          <p> Grades: </p>
          <p>
            {% with noti.draft_to_approve|get_draft_grades as grades %}
              {% for gr in grades %}
                <span>{{gr.category.name}}: {{gr.grade}}</span><br>
              {% endfor %}
            {% endwith %}

          </p>          
          <p> Status: {{noti.draft_to_approve.status}} </p>

          {% if noti.draft_to_approve.status == 1 %}
          <p><a href="#" data-href="{% url "inbox-approve-draft" noti.draft_to_approve.id %}" data-toggle="modal" data-target="#confirm-approve">Approve</a> | <a href="#" data-href="{% url "inbox-approve-draft" noti.draft_to_approve.id %}" data-toggle="modal" data-target="#confirm-approve-with-edits">Approve With Edits</a> | <a class="create-revision-notes" data-id="{{noti.draft_to_approve.id}}" data-toggle="modal" data-target="#CreateDraftRevisionNotification" role="button">Needs Revision</a> </p>
          {% endif %}
          <hr>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-danger">
      <div class="panel-heading"><h3>Drafts - Need Revision ({{draft_notifications_need_revision.count}})</h3></div>
      <div class="panel-body">
        {% for noti in draft_notifications_need_revision %}
        <div class="col-lg-10">
          <span> <p> Notification: {{noti.notification}} </p></span>
          <span><p> Learning Assistant: {{noti.draft_to_approve.owner.get_full_name}}</p></span>
          <span> <p>Student: {{noti.draft_to_approve.student}} </p></span>
          <p> Feedback: {{noti.draft_to_approve.text}} </p>
          <p> Grades: </p>
          <p>
            {% with noti.draft_to_approve|get_draft_grades as grades %}
              {% for gr in grades %}
               <span>{{gr.category.name}}: {{gr.grade}}</span><br>
              {% endfor %}
            {% endwith %}

          </p>
          <p> Status: {{noti.draft_to_approve.status}} </p>

          {% if noti.draft_to_approve.status == 1 %}
          <p><a href="#" data-href="{% url "inbox-approve-draft" noti.draft_to_approve.id %}" data-toggle="modal" data-target="#confirm-approve">Approve</a> | <a class="create-revision-notes" data-id="{{noti.draft_to_approve.id}}" data-toggle="modal" data-target="#CreateDraftRevisionNotification" role="button">Needs Revision</a> </p>
          {% endif %}
          <hr>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="panel panel-success">
      <div class="panel-heading"><h3>Drafts Approved ({{draft_notifications_approved.count}})</h3></div>
      <div class="panel-body">
        {% for noti in draft_notifications_approved %}
        <div class="col-lg-10">
         <!--  <span> <p> Notification: {{noti.notification}} </p></span> -->
          <span><p> Learning Assistant: {{noti.draft_to_approve.owner.get_full_name}}</p></span>
          <span> <p>Student: {{noti.draft_to_approve.student}} </p></span>
          <p> Feedback: {{noti.draft_to_approve.text}} </p>
       <!--    <p> Status: {{noti.draft_to_approve.status}} </p> -->
          <p> Grades: </p>
          <p>
            {% with noti.draft_to_approve|get_draft_grades as grades %}
              {% for gr in grades %}
               <span>{{gr.category.name}}: {{gr.grade}}</span><br>
              {% endfor %}
            {% endwith %}

          </p>
          {% if noti.draft_to_approve.status == 1 %}
          <p><a href="#" data-href="{% url "inbox-approve-draft" noti.draft_to_approve.id %}" data-toggle="modal" data-target="#confirm-approve">Approve</a> | <a class="create-revision-notes" data-id="{{noti.draft_to_approve.id}}" data-toggle="modal" data-target="#CreateDraftRevisionNotification" role="button">Needs Revision</a> </p>
          {% endif %}
          <hr>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

  <div class="modal fade" id="CreateDraftRevisionNotification" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Draft Revision Notes</h4>
        </div>

        <div class="modal-body">
          <form action="{% url "send-revision-notes" %}" method="POST">{% csrf_token %}
          <input type="hidden" name="draft_pk" id="draft_id">
          Revision Notes:
          <textarea name="revision_notes" class="form-control" rows="10"></textarea>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input type="submit" value="Send" class="btn btn-primary"/>      
          </form>
        </div>

      </div>
    </div>
  </div>

<div class="modal fade" id="confirm-approve" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Approve Draft
            </div>
            <div class="modal-body">
                Are you sure you want to approve this draft?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-success btn-ok">Approve</a>
            </div>
        </div>
    </div>
</div>



{% endblock %}