<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" integrity='<%= Routes.static_integrity(@conn, "/css/app.css") %>' href="<%= Routes.static_path(@conn, "/css/app.css") %>" />
    <link rel="stylesheet" integrity='<%= Routes.static_integrity(@conn, "/css/fa.min.css") %>' href="<%= Routes.static_path(@conn, "/css/fa.min.css") %>" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <script integrity='<%= Routes.static_integrity(@conn, "/js/app.js") %>' src='<%= Routes.static_path(@conn, "/js/app.js") %>' defer="defer"></script>
</head>

<body>
    <div id="elm-main"></div>
    <%= render @view_module, @view_template, assigns %>
</body>

</html>
