<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title><%= Map.get(assigns, :title, "WebCAT") %></title>

  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/semantic.min.css") %>" />
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/selectize.min.css") %>" />
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/fa.min.css") %>" />
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src='<%= Routes.static_path(@conn, "/js/semantic.min.js") %>'></script>

</head>

<body>
  <%= render(WebCATWeb.SharedView, "notifications.html", assigns)%>
  <%= render(WebCATWeb.SharedView, "menu.html", assigns) %>
  <div class="pusher" style="margin-left: 15rem; margin-top: 2rem;">
    <%= render @view_module, @view_template, assigns %>
    <%= render(WebCATWeb.SharedView, "footer.html", assigns)%>
  </div>
  <script src='<%= Routes.static_path(@conn, "/js/messages.js") %>'></script>
  <script src='<%= Routes.static_path(@conn, "/js/app.js") %>'></script>
</body>
</html>