<section class="section">
    <div class="container">
        <h1 class="title">Edit Rotation</h1>
        <%= render(WebCATWeb.RotationsView, "rotation.form.html", conn: @conn, changeset: @changeset, classrooms: @classrooms) %>
    </div>
</section>