
### macOS template
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# App artifacts
/_build
/db
/deps
/*.ez
/.elixir_ls

# Secret configurations
*.secret.exs

# Compiled static files
/priv/static/

# Generated on crash by the VM
erl_crash.dump

assets/node_modules
cover
.idea
.python-version
webcat.iml
/assets/yarn-error.log
/assets/elm-stuff

# pyenv Python version
.python-version

# Emacs temp files
.#*

# Local package manager data
.hex
.mix

# Release archives
/rel/artifacts