appdirs==1.4.0
Django==1.8.17
django-admin-bootstrapped==2.5.7
django-admin-tools==0.8.0
django-authtools==1.5.0
django-braces==1.11.0
django-crispy-forms==1.6.1
django-debug-toolbar==1.6
django-excel==0.0.6
django-localflavor==1.4.1
django-widget-tweaks==1.4.1
packaging==16.8
psycopg2==2.6.2
pyexcel==0.4.4
pyexcel-io==0.3.2
pyexcel-webio==0.0.11
pyparsing==2.1.10
six==1.10.0
sqlparse==0.2.2
texttable==0.8.7
