<link href="/static/css/login.css" rel="stylesheet">
<link href="/static/css/bootstrap.css" rel="stylesheet">


<title> WebCAT - Reset Password </title>

{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="login-page">
        <div class="main-container">
            <div class="row centered-form">

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <p class="text-center">{{ message }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="container">
                    <div class="form">
                        <h2>Reset Password</h2>
                        <hr>
                        <h3>{{ email }}</h3>
                        <hr>
                        <div class="panel-body">
                            <form method="post" action=".">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <button type="submit" class="btn btn-primary" value="{% trans 'Submit' %}">Reset
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
