<div class="ui grid container">
    <div class="row">
        <div class="column">
            <h1 class="header">New Classroom</h1>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="ui raised segment">
                <%= render("_form.html", assigns) %>
            </div>
        </div>
    </div>
</div>