<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<%= form_for(@changeset, Routes.inbox_path(@conn, :create), fn f ->  %>
<%= hidden_input(f, :rotation_group_id, value: @changeset.data.rotation_group_id) %>
<%= hidden_input(f, :user_id, value: @changeset.data.user_id) %>
<%= textarea(f, :content, id: "md-editor") %>
<%= submit("Submit", class: "button is-primary") %>
<% end) %>
<script src='<%= Routes.static_path(@conn, "/js/draft.js") %>'></script>
<script src='<%= Routes.static_path(@conn, "/js/form.js") %>'></script>