<div class="ui grid container">
    <div class="row">
        <div class="column">
            <h1 class="header">New Section</h1>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="ui raised segment">
                <%= render(WebCATWeb.SectionView, "form.html", assigns) %>
            </div>
        </div>
    </div>
</div>