<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="csrf-token" content="<%= Plug.CSRFProtection.get_csrf_token() %>">

    <title>Phoenix+React Playground</title>
    <%= for sheet <- Path.wildcard(~s(priv/static/css/*.css)) do %>
    <link rel="stylesheet" href="<%= static_path(@conn, ~s(/) <> Path.relative_to(sheet, ~s(priv/static))) %>">
    <% end %>
  </head>

  <body>
    <%= render @view_module, @view_template, assigns %>
    <%= for script <- Path.wildcard(~s(priv/static/js/*.js)) do %>
    <script src="<%= static_path(@conn, ~s(/) <> Path.relative_to(script, ~s(priv/static))) %>"></script>
    <% end %>
  </body>
</html>