{% extends "base.html" %}
{% load widget_tweaks profile_tags %}

{% block content %}
<title> Kudo - User Details </title>   

<div class="row">
    <div class="box">
        <div class="container padding-top">
            <h2 class="page-header">Profile</h2>
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-center">
                        <img src="{{ user.image|get_image }}" class="avatar img-circle img-thumbnail profile-photo" alt="avatar" >
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-8 col-md-offset-2 col-xs-12">
                    <div class="row">
                        <h3>Personal info</h3>
                        <div class="col-md-8 padding-top"> 
                            <div class="row">
                                <div class="col-md-6 col-xs-12">
                                    <label>First Name:</label>
                                    <p>{{ user.first_name }}</p>
                                </div>
                                <div class="col-md-6 col-xs-12">
                                    <label>Last Name:</label>
                                    <p>{{ user.last_name }}</p>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-6 col-xs-12">
                                    <label>Email Address:</label>
                                    <p>{{ user.email }}</p>
                                </div>
                                <div class="col-md-6 col-xs-12">
                                    <label>Nick Name:</label>
                                    <p>{{ user.nick_name }}</p>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-6 col-xs-12">
                                    <label>Phone:</label>
                                    <p>{{ user.phone }}</p>
                                </div>
                                <div class="col-md-6 col-xs-12">
                                    <label>Birth date:</label>
                                    <p>{{ user.birth_date|default_if_none:"" }}</p>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-6 col-xs-12">
                                    <label>Country:</label>
                                    <p>{{ user.country }}</p>
                                </div>
                                <div class="col-md-6 col-xs-12">
                                    <label>State:</label>
                                    <p>{{ user.state }}</p>
                                </div>

                            </div> 
                        </div>
                        <div class="col-md-4 padding-top">
                            <div class="row">
                                <div class="col-md-12 col-xs-12">
                                    <label>Bio:</label>
                                    <p>{{ user.bio }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 