
<!-- <h1>,hello</h1> -->
<div id="all_notes_view" style="display: none;">

	<div class="col-lg-9"> 
		<h3> All Notes View </h3>
    	{% for group in rotation_groups %}
    		{% if group.students.all %}

				<h5>Group {{group.group_number}}</h5>	


			<table class="table table-striped table-bordered table-hover">
			  <thead>
			    <tr>
			      <th scope="col">Student</th>
			      <th scope="col">Observations / Notes</th>
			    <!--   <th scope="col">Custom Notes</th> -->
			    </tr>
			  </thead>
			  <tbody>				

				{% for student in group.students.all %}
				<tr>
					<td> {{student}}</td> 
					<td>
					{% with student.id|get_feedback_notes:week as notes %}
						<ul>
							{% for note in notes %}
								<li>
									<p><strong>Category: </strong> {{note.sub_category.main_category.name}} -> {{note.sub_category.name}}</p>

									<p><strong>Observation:</strong> {{note.observation}}</p>
								
									{% if note.note %} 
										<p><strong>Custom Note: </strong>{{note.note}}</p> 
									{% endif %}
									

								</li>
								<br>
							{% endfor %}	
						
						</ul>
					
					{% endwith %}	
					</td>
				</tr>
				{% endfor %}	
		    {% endif %}

		</tbody>
</table>
		    	<!-- 	</div> -->
		{% endfor %}	
	</div>
</div>