<div class="col-lg-2">
 <!--    <div class="container"> -->

<div class="row">
      <div class="panel panel-default">
        <div class="panel-heading"> 

          <form class="week-form" action="{% url 'notes-change-week' %}" method="POST">{% csrf_token %}
            <label for="weekDropDown">Week </label>
            <select id="weekDropDown" name="weekDropDown">

              {% for i in loop_times %}
                {% if i == week %}
                   <option selected value='{{i}}'>{{i}}</option>
                {% else %}
                  <option value='{{i}}'>{{i}}</option>
                {% endif %}
              {% endfor %}
            </select> 
          </form>

          <a class="all-notes-view" href='#'><span title="Activate Notes View" class="glyphicon glyphicon-duplicate"></span></a>
          |
          <a class="back-to-main-categories" href='#'><span title="Activate Categories View" class="glyphicon glyphicon-th-large"></span></a>
        </div>
      </div>
  </div>

	    		<div class="row">
	    			
			    	<div class="panel panel-info">
    	{% for group, students in student_groups.items %}
    		{% if students %}
<!-- 	    		<div class="row">
	    			
			    	<div class="panel panel-info"> -->
			      		<div class="panel-heading">
			      			<h5>Group {{group.group_number}}</h5>
			      		</div> 			
			      		<div class="panel-body">
			      				<!-- <div class="col-md-12"> -->
					    		{% for student in students %}

						    		<div class="row student-checkboxes">
						    		
										<div class="col-md-1">						    			
						    				<input type="checkbox" name="student_name_{{forloop.counter}}" value="{{student.id}}"> </input>
						    			</div>					    			
										<div class="col-md-10">						    			
						    				<span> {{student}}</span> 
						    				{% with student.id|get_feedback_notes:week as notes %}
<!-- 						    				<ul>
						    					{% for note in notes %}
						    						<li><strong>{{note.sub_category.name}} - </strong>{{note.note}}</li>
						    					{% endfor %}	
						    				</ul> -->
						    				{% endwith %}
						    			</div>
							    
							    	</div>
					    		{% endfor %}
					    			<!-- 	</div> -->
			    			</div>


			    {% endif %}
    	<!-- 	</div> -->
		{% endfor %}	    	
<!-- 	</div> -->
			    		</div>
			    	</div>
</div>