


{% for main_category_pk, categories in sub_categories.items %}
 <div class="col-lg-10">
    <div class="no-display" id="sub_categories_{{main_category_pk}}">
       <!--  <a href="#" class="back-to-main-categories"> Back </a> -->

        
        <div class="sub-category-container">

            <div class="col-lg-12">
                <div class="container">
                    <h5> Subcategories</h5>
                    <a href="#" style="padding-bottom:10px;" class="back-to-main-categories"> <span class="fa fa-arrow-left"></span> Go Back</a> 
                </div>
            </div>
            <div class="col-lg-12">                  
              {% if categories %}   
                {% for category in categories %}   
                <div class="col-lg-6">
                    <a href="#" id="{{category.id}}" class="sub-category-btn btn-default">{{category.name}}</a>
                

                    <div class="no-display note-container" id="note_taker_{{category.id}}">
                        <div class="col-lg-12" style="background-color:#efefef;">
                            <form class="noteForm" method="post" action="{% url "notes-add-feedback" %}">
                                {% csrf_token %}

                                <input type="hidden" value="{{category.id}}" name="subcategory">
                               <!--  <label for="note">Add Note / Observation: </label> -->


                                <input name="week_num" type="hidden" value='{{week}}'>
                                

                                <div class="form-group padding-lr">
                                {% with category|get_observations as observations %}

                                    {% if not observations %}
                                        <!-- <p> No observations to choose from. </p>   -->
                                    {% else %}
                                     <!--    <p> Existing Observations for this subcategory: </p>   -->             
                                    {% endif %}
                                    {% for observation in observations %}

                                    {% if observation.get_observation_type == "Negative" %}
                                       <div style="background-color: #f0808052;">
                                            <label class="radio"><input type="radio" value="{{observation.id}}" name="observation"/>{{observation}}</label>  
                                       </div>
                                    {% elif  observation.get_observation_type == "Positive" %}
                                     <div style="background-color: #90ee905e;">
                                       <label class="radio"><input type="radio" value="{{observation.id}}" name="observation"/>{{observation}}</label>  
                                   </div>
                                   {% else %}
                                   <!-- <div style="background-color: lightgrey"> -->
                                       <label class="radio"><input type="radio" value="{{observation.id}}" name="observation"/>{{observation}}</label>  
                                 <!--   </div> -->
                                   {% endif %}
                                    {% endfor %}

                                {% endwith %}
                            </div>

                                <div class="form-group padding-lr">
                                    <!--  <div class="col-lg-12"> -->
                                    <div class="row">
                                        <!-- <label for="note">Custom Note: </label> -->
                                        <input name="note" style="width:70%; float:left;" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter customized note here"></input>  
                                        <input style="margin-left:15px;" type="submit" value="Save" class="btn btn-success"/>    
                                    </div>      
                                   <!--   <div class="col-lg-3">  --> 
                                    
                              <!--   </div> -->
                              <!--   </div> -->
                              </div>                            

                               
                                    
                            </form>
                        </div>
                    </div>        
                </div> 


           {% endfor %}  



    
            {% else %}
                <h3>No subcategories found. Click <a href="{% url "feedback-categories" %}">here</a> to add.</h3>
            {% endif %}
            </div>
        </div>
    </div>
  </div>    
{% endfor %}

