


{% for main_category_pk, categories in sub_categories.items %}
 <div class="col-lg-9">
    <div class="no-display" id="sub_categories_{{main_category_pk}}">
       <!--  <a href="#" class="back-to-main-categories"> Back </a> -->

        
        <div class="sub-category-container">

            <div class="col-lg-12">
                <!-- <div class="container"> -->
                    <h3> Subcategories</h3>
                    
                    <a href="#/" style="padding-bottom:10px; width: 100%;
    text-align: -webkit-left; line-height: 2" class="btn btn-md btn-info back-to-main-categories"> <span class="fa fa-arrow-left"></span> Go Back</a> 
           <!--      </div> -->
            </div>
            
            <div class="col-lg-12">                  
              {% if categories %}   
                {% for category in categories %}   
                <div class="col-lg-6">
                    <a href="#/" id="{{category.id}}" class="sub-category-btn btn-default">{{category.name}}</a>
                

                    <div class="no-display note-container" id="note_taker_{{category.id}}">
                        <div style="background-color:#efefef;">
                            <form class="noteForm" method="post" action="{% url "notes-add-feedback" %}">
                                {% csrf_token %}

                                <input type="hidden" value="{{category.id}}" name="subcategory">
                               <!--  <label for="note">Add Note / Observation: </label> -->


                                <input name="week_num" type="hidden" value='{{week}}'>
                                

                                
                                {% with category|get_observations as observations %}
                               
          
                                    {% if observations  %}
                                       <div class="form-group">
                                    {% for observation in observations %}

                                    {% if observation.get_observation_type == "Negative" %}
                                       <div class="note-radio" style="background-color: #f0808052;">
                                            <input type="radio" class="radio-custom" value="{{observation.id}}" name="observation">
                                            <span>{{observation}}</span>
                                       </div>
                                    {% elif  observation.get_observation_type == "Positive" %}
                                     <div class="note-radio"  style="background-color: #90ee905e;">
                                      <input type="radio" class="radio-custom"  value="{{observation.id}}" name="observation"/><span>{{observation}} </span>
                                   </div>
                                   {% else %}
                                   <div class="note-radio">
                                   <!-- <div style="background-color: lightgrey"> -->
                                       <input type="radio" class="radio-custom" value="{{observation.id}}" name="observation"/>{{observation}}
                                   </div>
                                   {% endif %}
                                    {% endfor %}
                                     </div>
                                     {% endif %}
                                     
                                {% endwith %}
                           

                                <div class="padding-lr">
                                    <!--  <div class="col-lg-12"> -->
                                    <div class="row">
                                        <!-- <label for="note">Custom Note: </label> -->
                                        <input name="note" type="text" class="form-control margin-bottom-sm" aria-describedby="emailHelp" placeholder="Enter customized note here"></input>  
                                        <input style="width: 100%; line-height: 2.5;" type="submit" value="Save" class="btn btn-lg btn-success"/>    
                                    </div>      
                                   <!--   <div class="col-lg-3">  --> 
                                    
                              <!--   </div> -->
                              <!--   </div> -->
                              </div>                            

                               
                                    
                            </form>
                        </div>
                    </div>        
                </div> 


           {% endfor %}  



    
            {% else %}
                <h3>No subcategories found. Click <a href="{% url "feedback-categories" %}">here</a> to add.</h3>
            {% endif %}
            </div>
        </div>
    </div>
  </div>    
{% endfor %}

