{% extends "base.html" %}

{% block content %}
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Notes <small>Interactive</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i> Notes
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">

{% include '_student_selector_partial.html' %}
        

{% include '_main_categories_partial.html' %}


{% include '_subcategory_partial.html' %}
    </div>
</div>

{% endblock %}