{% extends "base.html" %}

{% block content %}
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Notes <small>Interactive</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i> Notes - Week {{week}}
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">


    <div class="alert alert-warning fade in alert-dismissible" id="no-student-selected-error" style="display:none;" role="alert">
    <!--   <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
        Please select student(s) before saving note.
    </div>

  <!--   <div class="row"> -->
    <div class="col-lg-3">
        {% include '_student_selector_partial.html' %}
    </div>
<!-- </div> -->


    {% include '_main_categories_partial.html' %}

   
    {% include '_subcategory_partial.html' %}
  

    {% include '_all_notes_view_partial.html' %}
    </div>
</div>

{% endblock %}