<% {version, build_date} = build_info() %>
<div class="ui hidden divider"></div>
<div class="ui inverted vertical footer segment">
  <div class="ui center aligned container">
    <div class="ui inverted horizontal small divided link list">
      <a class="item">Version <%= version %></a>
      <a class="item">Built on <%= build_date %></a>
      <%= link("Changelog", to: Routes.index_path(@conn, :changes), class: "item")%>
    </div>
  </div>
</div>