<div class="ui inverted menu borderless">
    <div class="right menu">
        <div class="ui simple dropdown item">
            <%= "#{@user.first_name} #{@user.last_name}" %>
            <i class="dropdown icon"></i>
            <div class="menu">
                <a href="<%= Routes.login_path(@conn, :logout) %>" class="item">
                    Log Out
                    <i class="sign out icon"></i>
                </a>
            </div>
        </div>
    </div>
</div>