
	<link href="/static/dist/css/sb-admin-2.css" rel="stylesheet">
	<link href="/static/dist/css/sb-admin-2.css" rel="stylesheet">
	<link href="/static/Hover-master/css/hover.css" rel="stylesheet" media="all">
	<!-- Custom CSS -->
	<link href="/static/bootstrap/css/scrolling-nav.css" rel="stylesheet">
	<!-- 
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet"> -->

	<link href="/static/bootstrap/css/landing-page.css" rel="stylesheet">

	<link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="/static/jquery-ui-1.12.1/jquery-ui.min.css">