

<!DOCTYPE html>

{% load ratings %}
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        {% load static %}

        <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">          
<!--         <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" /> -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/sb-admin.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/plugins/morris.css' %}" />
        <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/jquery.validate.min.js"></script>        
        <script src="/static/js/jquery.form.min.js"></script>


</head>

<title>WebCAT - {{title}}</title>
<body>

{% if request.user %}

    <div id="wrapper">
        
        <!-- Navigation -->
        <nav class="navbar navbar-webcat navbar-fixed-top" role="navigation">
            {% with request.user|get_user_notifications as notifications %}
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url "dash-home" %}">P3 WebCAT</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i>
                    {% if notifications.count > 0 %}
                      <span class="badge">{{notifications.count}}</span>
                    {% endif %}
                       <b class="caret"></b> 
                    </a>
                    <ul class="dropdown-menu message-dropdown">

                                  

                                  {% for noti in notifications %}
                       
                        <li class="message-preview">
                            {% if user.is_superuser %}
                             <a href="/inbox/week/{{noti.draft_to_approve.week_num}}">   
                            {% else %}
                            <a href="/feedback/week/{{noti.draft_to_approve.week_num}}">   
                            {% endif %}
                                <div class="media">   
                                                            
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>{{noti.draft_to_approve.owner.get_full_name}}</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i>
                                            Created: {{noti.created_ts}}
                                            <br>
                                            Updated: {{noti.updated_ts}}
                                        </p>
                                        <p>Week {{noti.draft_to_approve.week_num}}
                                            <p> Student: {{noti.draft_to_approve.student}}</p>

                                        <p>{{noti.notification }}
                                            </p>
                                    </div> 
                                     
                                </div>
                               </a> 
                        </li>                                    
                                                                                   
                                  {% endfor %}
                                  {% if notifications.count == 0 %}

                                  <span>No Notifications. </span>
                                  {% endif %}
                                  


                        {% if user.is_superuser %}
                        <li class="message-footer">
                            <a href="{% url "feedback-inbox" %}">Read All Messages</a>
                        </li>
                        {% endif %}
                    </ul>
                
                </li>
<!--                 <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li> -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> 
                        {{ user.email }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url "user-details" request.user.id %}"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>

                        {% if user.is_superuser %}
                        <li>
                            <a href="{% url "feedback-inbox" %}"><i class="fa fa-fw fa-envelope"></i> Inbox </a>
                        </li>

                        {% endif %}
                        <li>
                            <a href="{% url "user-account-settings" %}"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{% url "logout" %}"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-left top-nav">
          <!--           <li class="active">
                        <a href="{% url "dash-home" %}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    -->
                    {% if user.is_superuser %}
                    <li>
                        <a href="{% url "dash-manage-users" %}"><i class="fa fa-fw fa-user"></i> Users</a>
                    </li>
                    <li>
                        <a href="{% url "classroom-home" %}"><i class="fa fa-fw fa-university"></i> Classroom</a>
                    </li>

                 
                    <li>
                        <a href="{% url "feedback-inbox" %}"><i class="fa fa-fw fa-envelope"></i> Inbox <span class="badge">{{notifications.count}}</span></a>
                    </li>  

                       {% endif %}
                           
                    
         <!--           
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-edit"></i> Feedback <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="show">
                            <li>
                                <a href="{% url "feedback-home" %}">Writer</a>
                            </li>                            
                            <li>
                                <a href="{% url "feedback-categories" %}">Categories</a>
                            </li>                      
                        </ul>
                    </li>      -->               
<!--                     <li>
                        <a href="{% url "dash-feedback"}"><i class="fa fa-fw fa-edit"></i> Feedback <i class="fa fa-fw fa-caret-down"></i></a>
                    </li> -->
  

                      {% if user.is_superuser %}
                    <li>
                        <a href="{% url "feedback-categories" %}"><i class="fa fa-fw fa-th-large"></i> Category</a>
                    </li>  

                    <li>
                        <a href="{% url "feedback-manager" %}"><i class="fa fa-fw fa-list-ul"></i> Feedback</a>
                    </li>  
                    {% endif %}   

                    <li>
                        <a href="{% url "notes-home" %}"><i class="fa fa-fw fa-file"></i> Notes</a>
                    </li>   

                    <li>
                        <a href="{% url "feedback-home" %}"><i class="fa fa-fw fa-edit"></i> Writer</a> 
                    </li>                                                        
 

<!--                     <li>
                        <a href="bootstrap-elements.html"><i class="fa fa-fw fa-desktop"></i> Bootstrap Elements</a>
                    </li>

                    <li>
                        <a href="bootstrap-grid.html"><i class="fa fa-fw fa-wrench"></i> Bootstrap Grid</a>
                    </li>


                    <li>
                        <a href="index-rtl.html"><i class="fa fa-fw fa-dashboard"></i> RTL Dashboard</a>
                    </li> -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
             {% endwith %}
        </nav>
  
    <div id="page-wrapper">
 
        <div class="container-fluid">
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <p class="text-center">{{ message }}</p>
        </div>
    {% endfor %}
{% endif %}


        {% if not request.user.is_verified and user.is_authenticated %}
            <nav class="email-notification container-fluid">
                <div class="row ">
                    <div class="col-md-12 alert alert-danger">
                        <div class="text-center ">
                            <p><strong>Confirm your email!</strong> Check your email inbox <strong><a href="{% url 'resend-activation-key' %}">Resend email</a></strong></p>
                        </div>
                    </div>
                </div>
            </nav>
        {% endif %}

<div class="modal fade" id="confirm-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                ...
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-info btn-ok">DO THE THING</a>
            </div>
        </div>
    </div>
</div>

         
            {% block content %}



            {% endblock %}

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->
    </div>


    {% endif %}
    <!-- /#wrapper -->

	</body>
    <!-- <script src="/static/js/jquery.js"></script>  -->
    <script src="/static/js/wcat.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>
 

	</html>