<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li>
            <%= link("Students", to: Routes.student_path(@conn, :index)) %>
        </li>
        <li class="is-active">
            <%= link("New", to: Routes.student_path(@conn, :new)) %>
        </li>
    </ul>
</nav>
<h1 class="title">New Student</h1>
<hr>
<%= form(@conn, @changeset) %>
<script src='<%= Routes.static_path(@conn, "/js/form.js") %>'></script>