<div class="modal fade" id="edit_classroom_{{classroom.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel"><i class="fa fa-institution"></i> Edit Classroom</h4>
        </div>

         <!-- START MODAL BODY -->
        <div class="modal-body">

          <form class="form-horizontal" action="{% url "classroom-edit" classroom.id %}" method="POST">{% csrf_token %}        

            <div class="form-group padding-lr">

              <label for="course_code">Course Code</label>
              <input value='{{classroom.course_code}}'  name="course_code" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter course code here"></input>
            </div>  
            <div class="form-group padding-lr">

              <label for="course_number">Course Number</label>
              <input value='{{classroom.course_number}}' name="course_number" type="number" class="form-control" aria-describedby="emailHelp" placeholder="Enter course number here"></input>
            </div>         
            <div class="form-group padding-lr">

              <label for="description">Course Description</label>
              <textarea name="description" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter course description">{{classroom.description}}</textarea>

               <label for="current_classroom">Current Classroom</label>
               {% if classroom.id == current_classroom.id %}
              <input name="current_classroom" type="checkbox" checked disabled>
              {% else %}
              <input name="current_classroom" type="checkbox">
              {% endif %}
            </div>     

          <div class="form-group padding-lr">
            {{ edit_classroom.current_semester.label }} : 
            {{ classroom.current_semester }}

            <br>
            new dates: {{classroom.current_semester.get_start_date}}
            <br>
            Dates: {{classroom.current_semester.date_begin}} - {{classroom.current_semester.date_end}}
            <br>
            Number of Weeks: {{ classroom.get_num_weeks }}
            <br>
            Set Semester: 

            <select name="current_semester">
                <!-- <option>-------</option> -->
              {% for semester in semesters %}
                {% if semester.id == classroom.current_semester.id %}
                  <option value="{{semester.id}}" selected >{{semester}}</option>
                {% else %}
                  <option value="{{semester.id}}">{{semester}}</option>

                {% endif %}
              {% endfor %}
            </select>        
          </div>

          <div class="form-group padding-lr">
             <label for="current_week">Current Week</label>
                <input name="current_week" type="number" min="1" max="{{classroom.get_num_weeks}}" value="{{classroom.current_week}}">
          </div>         
        
      </div>

      <!-- END MODAL BODY -->

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input type="submit" value="Save" class="btn btn-primary"/>  
        </form>
      </div>

 <!-- END MODAL content -->
      </div>
 <!-- END MODAL dialog -->
    </div>
     <!-- END MODAL fade -->
  </div> 