<div class="modal fade" id="register-new-classroom" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><h4><i class="fa fa-institution"></i> Register New Classroom</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      <form class="form-horizontal" action="{% url "classroom-register" %}" method="POST">{% csrf_token %}        

        <div style="padding-left: 20px; padding-right: 20px;">
          <div class="form-group">

            <label for="course_code">Course Code</label>
            <input name="course_code" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter course code here"></input>
          </div>     
        </div>   
        <div style="padding-left: 20px; padding-right: 20px;">
          <div class="form-group">

            <label for="course_number">Course Number</label>
            <input  name="course_number" type="number" class="form-control" aria-describedby="emailHelp" placeholder="Enter course number here"></input>
          </div>     
        </div>  
        <div style="padding-left: 20px; padding-right: 20px;">
          <div class="form-group">

            <label for="description">Course Description</label>
            <textarea name="description" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter course description"></textarea>
          </div>     
        </div> 

        {{ register_classroom.current_semester.label }}
        {{ register_classroom.current_semester }}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input type="submit" value="Create" class="btn btn-warning"/>  
        </form>
      </div>

    </div>
  </div>
</div>