{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %} 


<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Dashboard <small>Statistics Overview</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i> Dashboard
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <h2>Hello {{request.user.get_short_name}}!</h2>
    </div>
</div>
<hr>

<!-- <div class="row">
    <div class="col-lg-12">
        <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="fa fa-info-circle"></i>  <strong>Admin Alerts</strong> Any important alert for an admin instructor can go here.
        </div>
    </div>
</div> -->
<div class="panel panel-default">
  <div class="panel-heading"><h3 class="padding-top-bottom">Classrooms

            <button class="btn btn-lg btn-warning float-right" data-toggle="modal" data-target="#register-new-classroom"><i class="fa fa-fw fa-university"></i>   Register Classroom</button>
                        <button class="btn btn-lg btn-primary float-right margin-right" data-toggle="modal" data-target="#registerSemester"><i class="fa fa-fw fa-plus-square-o"></i> Add Semester</button>
            
  </div>
  <div class="panel-body">

    <div class="col-lg-12">




        <div class="col-lg-6">
        {% if current_classroom %}
            <h3> Your Current Classroom</h3>
             <div class="padding-lr">
                <strong>
                <span>{{current_classroom}}</span>
                <span>{{current_classroom.description}}</span>
                | <a href="#" data-toggle="modal" data-target="#edit_classroom_{{current_classroom.id}}">Edit</a>
                </strong>
                <hr>
                <strong>Statistics Overview </strong>
                <br>
                <span>Number of Students: {{ current_classroom|get_num_students }} </span>
                <br>
                <span>Number of Instructors: {{ current_classroom|get_num_instructors}} </span>
                <br>
                <span>Current Week: {{ current_classroom.current_week}} </span>    




              {% with current_classroom.id|get_rotations:current_classroom.current_semester.id as rotations %}
                    {% if rotations %}
                    <h4>Semester Rotations ({{rotations.count}})</h4>
                    {% for rotation in rotations %}
                    <div class="col-lg-12">
                        <div class="col-lg-10">
                            {{rotation}}
                        </div>
                        <div class="col-lg-2">
                             <a href="#" data-href="{% url "classroom-delete-rotation" rotation.id %}" data-toggle="modal" data-target="#confirm-delete-{{rotation.id}}" value="Delete"><span class="fa fa-remove red-icon"></span></a>
                        </div>
                     </div>


                <div class="modal fade" id="confirm-delete-{{rotation.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                Delete Rotation
                            </div>
                            <div class="modal-body">
                                <span> Are you sure you want to delete: </span>
                                 <b><p>{{rotation}}</p></b>
                                 <span> ? </span>

                            </div>    
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <a class="btn btn-danger btn-ok">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>


                    {% endfor %}
                    {% else %}
                    <h4>No Rotations Created Yet.</h4>
                    {% endif %}
                {% endwith %}

                <div class="col-lg-12 padding-top-bottom">
                    <h4>Create Rotation</h4> 
                    <form class="form-horizontal" action="{% url "classroom-edit-rotation" %}" method="POST">{% csrf_token %}
                    
                    <div class="col-lg-3">
                        {{rotation_form.start_week.label_tag}}
                    </div>
                     <div class="col-lg-9">
                        {{rotation_form.start_week}}
                     </div>
                    <div class="col-lg-3">{{rotation_form.length.label_tag}}
                    </div>
                    <div class="col-lg-9">{{rotation_form.length}}</div>
                    <input type="hidden" name="classroom" value="{{current_classroom.id}}"/>
                    <input type="hidden" name="semester" value="{{current_classroom.current_semester.id}}"/>
                    <div class="col-lg-12 padding-top-bottom">
                    <input type="submit" style="width: 100%" value="Create" class="btn btn-success"/>  
                    </div>
                    </form>   
                </div>               

            </div>
        {% else %}
        <h3> No current classroom set. </h3>

      
        {% endif %}
           </div>   


           <div class="col-lg-6">
        {% if classrooms %}
            <h3> All Classrooms</h3>

            {% for classroom in classrooms %}
            <div class="padding-lr">
                {% if classroom.id == current_classroom.id %}
  <!--               <strong>
                <span>{{classroom.course}}</span>
                <span>{{classroom.description}}</span>
                (Current) | <a href="#" data-toggle="modal" data-target="#edit_classroom_{{classroom.id}}">Edit</a>
                
            </strong> -->

                {% else %}
                <span>{{classroom}}</span>
                <span>{{classroom.description}}</span> |
              <!--   <a href="#">Set Current</a> -->
                | <a href="#" data-toggle="modal" data-target="#edit_classroom_{{classroom.id}}">Edit</a>
                <form class="form-horizontal" action="{% url "classroom-edit-rotation" %}" method="POST">{% csrf_token %}
                <h5>Create Rotation</h5>   
                <p>
                    <label for="id_start_week">Start week:</label>
                    <input id="id_start_week" min="1" name="start_week" type="number">
                </p>
                <p>{{rotation_form.length.label_tag}} {{rotation_form.length}}</p>
                <input type="hidden" name="classroom" value="{{classroom.id}}"/>
                <input type="hidden" name="semester" value="{{classroom.current_semester.id}}"/>
                <input type="submit" value="Create" class="btn btn-success"/>  
                </form>        
               

                {% with classroom.id|get_rotations:classroom.current_semester.id as rotations %}
                    {% if rotations %}
                    <h4>Semester Rotations ({{rotations.count}})</h4>
                    {% for rotation in rotations %}
                    <div class="col-lg-12">
                        <div class="col-lg-10">
                            {{rotation}}
                        </div>
                        <div class="col-lg-2">
                             <a href="#" data-href="{% url "classroom-delete-rotation" rotation.id %}" data-toggle="modal" data-target="#confirm-delete-{{rotation.id}}" value="Delete"><span class="fa fa-remove red-icon"></span></a>
                        </div>
                     </div>


                <div class="modal fade" id="confirm-delete-{{rotation.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                Delete Rotation
                            </div>
                            <div class="modal-body">
                                <span> Are you sure you want to delete: </span>
                                 <b><p>{{rotation}}</p></b>
                                 <span> ? </span>

                            </div>    
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <a class="btn btn-danger btn-ok">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>


                    {% endfor %}
                    {% else %}
                    <h4>No Rotations Created Yet.</h4>
                    {% endif %}
                {% endwith %}
                 {% endif %}    
            </div>
            <hr>




  <div class="modal fade" id="edit_classroom_{{classroom.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Edit Classroom</h4>
        </div>
        <div class="modal-body">

 <form class="form-horizontal" action="{% url "classroom-edit" classroom.id %}" method="POST">{% csrf_token %}        

        <div style="padding-left: 20px; padding-right: 20px;">
          <div class="form-group">

            <label for="course_code">Course Code</label>
            <input value='{{classroom.course_code}}'  name="course_code" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter course code here"></input>
          </div>     
        </div>   
        <div style="padding-left: 20px; padding-right: 20px;">
          <div class="form-group">

            <label for="course_number">Course Number</label>
            <input value='{{classroom.course_number}}' name="course_number" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter course number here"></input>
          </div>     
        </div>           
        <div style="padding-left: 20px; padding-right: 20px;">
          <div class="form-group">

            <label for="description">Course Description</label>
            <textarea name="description" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter course description">{{classroom.description}}</textarea>

             <label for="current_classroom">Current Classroom</label>
             {% if classroom.id == current_classroom.id %}
            <input name="current_classroom" type="checkbox" checked disabled>
            {% else %}
            <input name="current_classroom" type="checkbox">
            {% endif %}
          </div>     
        </div>  

 <div style="padding-left: 20px; padding-right: 20px;">
      <div class="form-group">
        {{ edit_classroom.current_semester.label }} : 
        {{ classroom.current_semester }}

        <br>
        Dates: {{classroom.current_semester.date_begin}} - {{classroom.current_semester.date_end}}
        <br>
        Number of Weeks: {{ classroom.get_num_weeks }}
        <br>
        Set Semester: 

        <select name="current_semester">
            <!-- <option>-------</option> -->
          {% for semester in semesters %}
            {% if semester.id == classroom.current_semester.id %}
              <option value="{{semester.id}}" selected >{{semester}}</option>
            {% else %}
              <option value="{{semester.id}}">{{semester}}</option>

            {% endif %}
          {% endfor %}
        </select>        
          </div>
    </div>

<!--         <div style="padding-left: 20px; padding-right: 20px;">
          <div class="form-group">
             <label for="num_weeks">Number of Weeks</label>
                <input name="num_weeks" type="number" min="1" value="{{classroom.num_weeks}}">
          </div>     
        </div>  -->
        <div style="padding-left: 20px; padding-right: 20px;">
          <div class="form-group">
             <label for="current_week">Current Week</label>
                <input name="current_week" type="number" min="1" max="{{classroom.get_num_weeks}}" value="{{classroom.current_week}}">
          </div>     
        </div>           
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input type="submit" value="Save" class="btn btn-primary"/>  
        </form>
      </div>

      </div>
    </div>
  </div> 


            {% endfor %}
        {% else %}
        <h3> No classrooms registered. </h3>

      
        {% endif %}
           </div>                   
    </div>
  </div>
</div>

<!-- <div class="row">
    <div class="col-lg-12">
        <div class="col-lg-6">
        {% if classrooms %}
            <h3> Your Current Classroom</h3>
            {% for classroom in classrooms %}

                <span>{{classroom.course}}</span>
                <span>{{classroom.description}}</span>
            {% endfor %}
        {% else %}
        <h3> No classroom registered. </h3>

      
        {% endif %}
           </div>

           <div class="col-lg-6">
            <button class="btn btn-lg btn-warning" data-toggle="modal" data-target="#register-new-classroom"><i class="fa fa-fw fa-university"></i>   Register Classroom</button>
           </div>
    </div>
</div> -->
<hr>

<!-- <div class="row">
    <div class="col-lg-12">
        <div class="padding-top-bottom">
            <button class="btn btn-lg btn-warning"><i class="fa fa-fw fa-university"></i>   Register Classroom</button>
        </div>
    </div>
</div>        --> 




<div class="row">

<div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Tasks Panel</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <span class="badge">just now</span>
                        <i class="fa fa-fw fa-calendar"></i> Calendar updated
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">4 minutes ago</span>
                        <i class="fa fa-fw fa-comment"></i> Commented on a post
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">23 minutes ago</span>
                        <i class="fa fa-fw fa-truck"></i> Order 392 shipped
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">46 minutes ago</span>
                        <i class="fa fa-fw fa-money"></i> Invoice 653 has been paid
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">1 hour ago</span>
                        <i class="fa fa-fw fa-user"></i> A new user has been added
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">2 hours ago</span>
                        <i class="fa fa-fw fa-check"></i> Completed task: "pick up dry cleaning"
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">yesterday</span>
                        <i class="fa fa-fw fa-globe"></i> Saved the world
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">two days ago</span>
                        <i class="fa fa-fw fa-check"></i> Completed task: "fix error on sales page"
                    </a>
                </div>
                <div class="text-right">
                    <a href="#">View All Activity <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-comments fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">26</div>
                        <div>New Messages!</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-tasks fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">12</div>
                        <div>New Tasks!</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>




    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-exclamation-triangle fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">3</div>
                        <div>Pending Drafts!</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-support fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">13</div>
                        <div>Drafts Rejected!</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- /.row -->

<!-- <div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Area Chart</h3>
            </div>
            <div class="panel-body">
                <div id="morris-area-chart"></div>
            </div>
        </div>
    </div>
</div> -->
<!-- /.row -->

<!-- <div class="row"> -->
<!--     <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Donut Chart</h3>
            </div>
            <div class="panel-body">
                <div id="morris-donut-chart"></div>
                <div class="text-right">
                    <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div> -->
 <!--    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Tasks Panel</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <span class="badge">just now</span>
                        <i class="fa fa-fw fa-calendar"></i> Calendar updated
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">4 minutes ago</span>
                        <i class="fa fa-fw fa-comment"></i> Commented on a post
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">23 minutes ago</span>
                        <i class="fa fa-fw fa-truck"></i> Order 392 shipped
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">46 minutes ago</span>
                        <i class="fa fa-fw fa-money"></i> Invoice 653 has been paid
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">1 hour ago</span>
                        <i class="fa fa-fw fa-user"></i> A new user has been added
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">2 hours ago</span>
                        <i class="fa fa-fw fa-check"></i> Completed task: "pick up dry cleaning"
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">yesterday</span>
                        <i class="fa fa-fw fa-globe"></i> Saved the world
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">two days ago</span>
                        <i class="fa fa-fw fa-check"></i> Completed task: "fix error on sales page"
                    </a>
                </div>
                <div class="text-right">
                    <a href="#">View All Activity <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Transactions Panel</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Order #</th>
                                <th>Order Date</th>
                                <th>Order Time</th>
                                <th>Amount (USD)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>3326</td>
                                <td>10/21/2013</td>
                                <td>3:29 PM</td>
                                <td>$321.33</td>
                            </tr>
                            <tr>
                                <td>3325</td>
                                <td>10/21/2013</td>
                                <td>3:20 PM</td>
                                <td>$234.34</td>
                            </tr>
                            <tr>
                                <td>3324</td>
                                <td>10/21/2013</td>
                                <td>3:03 PM</td>
                                <td>$724.17</td>
                            </tr>
                            <tr>
                                <td>3323</td>
                                <td>10/21/2013</td>
                                <td>3:00 PM</td>
                                <td>$23.71</td>
                            </tr>
                            <tr>
                                <td>3322</td>
                                <td>10/21/2013</td>
                                <td>2:49 PM</td>
                                <td>$8345.23</td>
                            </tr>
                            <tr>
                                <td>3321</td>
                                <td>10/21/2013</td>
                                <td>2:23 PM</td>
                                <td>$245.12</td>
                            </tr>
                            <tr>
                                <td>3320</td>
                                <td>10/21/2013</td>
                                <td>2:15 PM</td>
                                <td>$5663.54</td>
                            </tr>
                            <tr>
                                <td>3319</td>
                                <td>10/21/2013</td>
                                <td>2:13 PM</td>
                                <td>$943.45</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-right">
                    <a href="#">View All Transactions <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div> -->
 <!--        </div>
    </div> -->
<!-- </div> -->
<!-- /.row -->

    <div class="modal fade" id="registerSemester" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Register Semester</h4>
          </div>
          <div class="modal-body">
            <h5> Semester: </h5>
            <form class="form-horizontal" id="createStudentForm" action="{% url "dash-add-semester" %}" method="POST">{% csrf_token %}
        <div style="padding-left: 20px; padding-right: 20px;">
          <div class="form-group">

        <div style="padding-left: 20px; padding-right: 20px;">
          <div class="form-group">

            <label for="title">Semester Title</label>
            <input name="title" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter semester title here"></input>
          </div>     
        </div>   

            <label for="date_begin">Beginning of Semester</label>
            <input name="date_begin" type="date" class="form-control" aria-describedby="emailHelp" placeholder="Enter semester beginning date"></input>
          </div>     
        </div>  
        <div style="padding-left: 20px; padding-right: 20px;">
          <div class="form-group">

            <label for="date_end">End of Semester</label>
            <input name="date_end" type="date" class="form-control" aria-describedby="emailHelp" placeholder="Enter semester ending date"></input>
          </div>     
        </div> 
                

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <input type="submit" value="Save" class="btn btn-primary"/>      
            </form>
          </div>
        </div>
      </div>
    </div>   


<div class="modal fade" id="register-new-classroom" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><h4>Register New Classroom</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      <form class="form-horizontal" action="{% url "classroom-register" %}" method="POST">{% csrf_token %}        

        <div style="padding-left: 20px; padding-right: 20px;">
          <div class="form-group">

            <label for="course_code">Course Code</label>
            <input name="course_code" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter course code here"></input>
          </div>     
        </div>   
        <div style="padding-left: 20px; padding-right: 20px;">
          <div class="form-group">

            <label for="course_number">Course Number</label>
            <input  name="course_number" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter course number here"></input>
          </div>     
        </div>  
        <div style="padding-left: 20px; padding-right: 20px;">
          <div class="form-group">

            <label for="description">Course Description</label>
            <textarea name="description" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter course description"></textarea>
          </div>     
        </div> 

        {{ register_classroom.current_semester.label }}
        {{ register_classroom.current_semester }}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input type="submit" value="Create" class="btn btn-warning"/>  
        </form>
      </div>

    </div>
  </div>
</div>




{% endblock %}
