<link href="/static/css/add-instructor.css" rel="stylesheet">
{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks profile_tags %}
{% load crispy_forms_tags %}

{% block content %}



<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Dashboard <small>Manage Users</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i> Dashboard - Admin
            </li>
        </ol>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
      <div class="panel panel-info">
        <div class="panel-heading">
          <span>
           <h3> All Users
            <button type="button" style="float: right;" class="btn btn-info btn-lg" data-toggle="modal" data-target="#AddInstructorModal">Add User</button>
            </h3>
          </span>
        </div>
        <div class="panel-body">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Name </th>
            <th>Email</th>
            <th>Current Classroom </th>
            <th>Permission Level</th>
            <th>Verified Email</th>

            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>                    
                      {% for user in users %}
            <th scope="row">{{forloop.counter}}</th>
            <td>{{user.first_name }} {{user.last_name }}</td>
            <td><a href="{% url 'user-details' user.id %}"> {{user.email }}</a></td>
            <td>{{user.current_classroom}}</td>
            <td>
              {% if user.permission_level %}
                  Professor
              {% else %}
                  Learning Assistant
              {% endif %}
            </td>
            <td> {{user.is_verified}}</td>
           <td>
            <a href="#" data-toggle="modal" data-target="#EditUser_{{user.id}}"><span class="fa fa-edit"> </span></a> 
             </td> 
<td><a href="#" data-href="{% url "dash-remove-user" user.id %}" data-toggle="modal" data-target="#confirm-delete" data-id="{{user.first_name}} {{user.last_name}}" value="Delete" class="deletestudent"><span class="fa fa-remove red-icon"></span></a></td>             
           <!--   <td>
            <a href="#" data-toggle="modal" data-target="#EditUser_{{user.id}}"><span class="fa fa-remove red-icon"></span></a>
           </td>   -->

<div class="modal fade" id="EditUser_{{user.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Edit User</h4>
      </div>
      <div class="modal-body">
        <h4> {{user.first_name}} {{user.last_name}} </h4>

        <h5> Edit Instructor </h5>
        <form class="form-horizontal" id="createStudentForm" action="{% url "dash-edit-user" user.id %}" method="POST">{% csrf_token %}
            <div class="form-group padding-lr">

              <label for="first_name">First Name: </label>
              <textarea name="first_name" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter First Name">{{user.first_name}}</textarea>          
     
         </div>
          <div class="form-group padding-lr">
        <label for="last_name">Last Name: </label>
                      <textarea name="last_name" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter Last Name">{{user.last_name}}</textarea> 
      </div>
      <div class="form-group padding-lr">
        <label for="email">Email: </label>
       <textarea name="email" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter Email">{{user.email}}</textarea> 
      </div>

      <div class="form-group padding-lr">
        <label for="current_classroom">Classroom: </label>
       <!--  <span>{{user.current_classroom}}</span> -->
        <select name="current_classroom">
          {% for classroom in classrooms %}
            {% if classroom.id == user.current_classroom.id %}
              <option value="{{classroom.id}}" selected >{{classroom}}</option>
            {% else %}
              <option value="{{classroom.id}}">{{classroom}}</option>

            {% endif %}
          {% endfor %}
        </select>
        <!-- <input type="text" value="{{user.current_classroom}}" name="current_classroom"> -->
      </div>

 <div class="form-group padding-lr">
      <label for="permission_level">Permissions: </label>
      <br>
      {% if user.permission_level == 0 %}
        <input type="radio" name="permission_level" value="0" checked> Learning Assistant<br>
        <input type="radio" name="permission_level" value="1"> Admin<br>     
      {% elif user.permission_level == 1 %}
  <input type="radio" name="permission_level" value="0"> Learning Assistant<br>
  <input type="radio" name="permission_level" value="1" checked > Admin<br>   
      {% else %}
  <input type="radio" name="permission_level" value="0"> Learning Assistant<br>
  <input type="radio" name="permission_level" value="1"> Admin<br>   

      {% endif %}
  </div>
<!--       <div class="form-group">
        <label for="notes">Permission Level: </label>
        <input type="text" value="{{student.notes}}" name="notes">
      </div>  -->
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type="submit" value="Save" class="btn btn-primary"/>      
        </form>
      </div>
    </div>
  </div>
</div>  


          </tr>
      {% endfor %}    
        </tbody>
      </table>   
      </div>
      </div>
    </div>
</div>

<div id="AddInstructorModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 style="text-align: center;" class="modal-title">Add Instructor</h4>
      </div>
      <div class="modal-body">
              <div class="form">
                <form class="register-form" method="post" action=".">

                  {% csrf_token %} 
                    {{form|crispy}}
                  <button>Add</button>
                  
                </form>

              </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Delete Instructor
            </div>
            <div class="modal-body">
                <span> Are you sure you want to delete: </span>
                 <b><span type="text" name="del_name" id="del_name"></span></b>
                 <span> ? </span>

            </div>         
            <div style="display: none;" class="alert alert-warning warning-delete-group" role="alert">
                <span style="color: darkyellow;" class="fa fa-warning"></span>Warning! Is instructor assigned to any classrooms or groups? Blah blah blah
            </div>     
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok">Delete</a>
            </div>
        </div>
    </div>
</div>


    {% endblock %}