{% load crispy_forms_tags %}
<div class="container">
 <div class="panel panel-info">
    <div class="panel-heading">
    <h3> Groups
<a class="btn btn-primary float-right-button" data-toggle="modal" data-target="#createGroup" role="button"><span class="fa fa-group"></span> Add Group  </a>
{% if not upload_view %} 
<a class="btn btn-success float-right-button" href="{% url "classroom-upload-groups" %}"><span class="fa fa-cloud-upload"></span> Upload</a>
{% endif %}
     </h3>
   </div>
   <div class="panel-body">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Group Number</th>
          <th>Description</th>
          <th>LA</th>
          <th>Student 1</th>
          <th>Student 2</th>
          <th>Student 3</th>
          <th>Student 4</th>
          <th></th>
          <th></th>
          <th></th>
          
        </tr>
      </thead>
      <tbody>
    {% for group in groups %}    

        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{group.group_number }} </td>
          <td> {{ group.description }} </td>
          <td>{% with group.current_instructor as instructor %}
              {{instructor.get_full_name}}
            {% endwith %}
          </td>          
          {% with students|get_students_by_group:group.id as group_students %}
          {% if group_students %}
            {% for student in group_students %}
              {% if student != None %}
              <td>{{student.first_name}} {{student.last_name}}</td>
              {% else %}
                <td></td>
              {% endif %}
            {% endfor %}

          {% else %}
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          {% endif %}
          

          <td><a href="#" data-href="{% url "delete-group" group.id %}" data-toggle="modal" data-target="#confirm-delete" data-id="{{group.group_number}}" value="Delete" class="deletegroup"><span class="fa fa-remove red-icon"></span></a> 
          <td>
            <a href="#" class="assigngroup" data-toggle="modal" data-info="{{group.description}}" data-id="{{group.group_number}}" data-target="#assignGroups"><span class="fa fa-rocket"></span></a>
          </td>
          <td><a href="#" data-toggle="modal" data-target="#assignMultipleStudents_{{group.id}}"><span class="fa fa-edit"></span></a></td>  

<div class="modal fade" id="assignMultipleStudents_{{group.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Add Students to Group</h4>
      </div>
      <div class="modal-body">
      <!--   <h4>Add Students to Group <span id="assign-group-num"></span></h4> -->
        <h5> Please select the students you would like to add to group {{group.group_number}} </h5>
        <form class="form-horizontal" action="{% url "classroom-assign-multiple-students" group.id %}" method="POST">{% csrf_token %}
        {{ assign_multiple_students_form.as_p }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type="submit" value="Save" class="btn btn-primary"/>      
        </form>
      </div>
    </div>
  </div>
</div>               
          {% endwith %}        
        </tr>
    {% endfor %}    
      </tbody>
    </table> 
</div>    
</div>
</div>  

<div class="modal fade" id="assignGroups" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Assign Group</h4>
      </div>
      <div class="modal-body">
        <h4>Group <span id="assign-group-num"></span></h4>
        <h5> Please select the instructor you would like to assign to this group: </h5>
        <form class="form-horizontal" id="createStudentForm" action="{% url "classroom-assign-groups" %}" method="POST">{% csrf_token %}
        <input name="group_num" type="hidden" class="hidden-group-num">
        <select name="instructor_id">
          {% for instructor in instructors %}
            <option value="{{ instructor.id }}">{{ instructor.get_full_name }}</option>
          {% endfor %}
        </select>
        <div>
          <label for="group_description">Description:</label>
          <input type="text" name="group_description"/>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type="submit" value="Save" class="btn btn-primary"/>      
        </form>
      </div>
    </div>
  </div>
</div>  





<div class="modal fade" id="createGroup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Add New Group</h4>
      </div>
      <div class="modal-body">
        <h5> Add Group: </h5>
        <form class="form-horizontal" id="createGroupForm" action="{% url "classroom-create-group" %}" method="POST">{% csrf_token %}

          {{add_group_form | crispy}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type="submit" value="Save" class="btn btn-primary"/>      
        </form>
      </div>
    </div>
  </div>
</div>     
