{% load crispy_forms_tags %}
<div class="container">
 <div class="panel panel-success">
    <div class="panel-heading">
    <h3> Students
     
<a class="btn btn-primary float-right-button" data-toggle="modal" data-target="#createStudent" role="button"><span class="fa fa-group"></span> Add Student  </a>   
{% if not upload_view %} 
<a class="btn btn-success float-right-button" href="{% url "classroom-upload-students" %}"><span class="fa fa-cloud-upload"></span> Upload</a>
{% endif %}
    </h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Group Number</th>
          <th>Notes</th>
          <th>Student Id</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
    {% for student in students %}        
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{student.first_name }} </td>
          <td>{{student.last_name }}</td>
          <td> {{student.group.group_number}}</td>
          <td> {{student.notes}}</td>
          <td> {{student.student_id}}</td>
          <td><a href="#" data-href="{% url "delete-student" student.id %}" data-toggle="modal" data-target="#confirm-delete" data-id="{{student.first_name}} {{student.last_name}}" value="Delete" class="deletestudent"><span class="fa fa-remove red-icon"></span></a> 
          <td>
            <a href="#" class="editstudentrow" data-toggle="modal" data-id="{{student.id}}" data-target="#EditStudentModal_{{student.id}}"><span class="fa fa-edit"></span></a>        
          </td>
        </tr>


<div class="modal fade" id="EditStudentModal_{{student.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title">Student Info</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" id="editStudentForm" action="{% url "classroom-edit-student" student.id %}" method="POST">{% csrf_token %}
         <div class="form-group">  
          <label for="first_name">First Name: </label>
          <input type="text" value="{{student.first_name}}" name="first_name">
         </div>
          <div class="form-group">
        <label for="last_name">Last Name: </label>
        <input type="text" value="{{student.last_name}}" name="last_name">
      </div>
      <div class="form-group">
        <label for="student_id">Student ID: </label>
        <input type="text" value="{{student.student_id}}" name="student_id">
      </div>
      <div class="form-group">
        <label for="notes">Notes: </label>
        <input type="text" value="{{student.notes}}" name="notes">
      </div>      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type="submit" value="Save" class="btn btn-primary"/>      
        </form>        
      </div>
    </div>
  </div>
</div>

    {% endfor %}    
      </tbody>
    </table>    
    </div>
    </div>
    
</div>


<div class="modal fade" id="createStudent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Add New Student</h4>

      </div>
      <div class="modal-body">
        <h5> Add Student: </h5>
        <form class="form-horizontal" id="createStudentForm" action="{% url "classroom-create-student" %}" method="POST">{% csrf_token %}
          {{add_student_form | crispy}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type="submit" value="Save" class="btn btn-primary"/>      
        </form>
      </div>
    </div>
  </div>
</div>              


