{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Classroom <small>Overview</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i> Dashboard
            </li>
        </ol>
    </div>
</div>

{% if not classroom %}
    <div class="row">
        <div class="col-lg-12">
            <h3> You have not yet registered a classroom. </h3>
    <a class="btn btn-warning" data-toggle="modal" data-target="#registerClassroom" role="button"><span class="fa fa-group"></span> Register Classroom  </a>          

        </div>
    </div>

    <div class="modal fade" id="registerClassroom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Register Classroom</h4>
          </div>
          <div class="modal-body">
            <h5> classroom: </h5>
            <form class="form-horizontal" id="createStudentForm" action="{% url "classroom-register" %}" method="POST">{% csrf_token %}
            {{add_classroom_form}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <input type="submit" value="Save" class="btn btn-primary"/>      
            </form>
          </div>
        </div>
      </div>
    </div>   

{% else %}
<!-- /.row --> 

    <!-- <div class="container"> -->
     <div class="panel panel-default">
        <div class="panel-heading">
            <h3><strong> {{classroom}} </strong> <span> {{classroom.description}} - {{classroom.current_semester}}</span></h3>
        </div>
        <div class="panel-body">
            <div class="col-lg-12">
                <div class="col-lg-4">
                    <p><strong> {{classroom}} </strong> <span> {{classroom.description}} </span> </p>
                    <p> <strong>Professor:</strong> {{classroom.instructor.get_full_name}} </p>
                </div>
                <div class="col-lg-4">
                    <span><strong>Learning Assistants:</strong> </span>
                    <ul>
                    {% for la in learning_assistants %}
                        <li>{{la.get_full_name}}</li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="col-lg-4">
                    <p> <strong>Other info goes here </strong> </p>
                </div>
            </div>
        </div>
      </div>
    <!-- </div> -->
    {% with classroom.id|get_rotations:classroom.current_semester.id as rotations %}
        <ul class="nav nav-tabs">


            {% for rotation in rotations %}
            {% if rotation.start_week <= classroom.current_week and rotation.end_week >= classroom.current_week %}
                <li class="active"><a data-toggle="tab" href="#rotation_{{rotation.id}}">Week {{rotation.start_week}} - {{rotation.end_week}}</a></li>
            {% else %}
                <li><a data-toggle="tab" href="#rotation_{{rotation.id}}">Week {{rotation.start_week}} - {{rotation.end_week}}</a></li>
            {% endif %}
         {% endfor %}
        </ul>
       


     


        <div class="tab-content">
            {% if rotations %}
                {% for rotation in rotations %}

                    {% include "_group_partial.html" %}

                {% endfor %}
            {% else %}
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3> Groups</h3>
                    </div>
                    <div class="panel-body">
                        <h3> No rotations exist yet. Please create rotations in dashboard before adding groups. </h3>
                    </div>
                </div>
            {% endif %}

        </div>


        <ul class="nav nav-tabs">
            {% for rotation in rotations %}
                {% if rotation.start_week <= classroom.current_week and rotation.end_week >= classroom.current_week %}
                    <li class="active"><a data-toggle="tab" href="#rotation_instructor_{{rotation.id}}">Week {{rotation.start_week}} - {{rotation.end_week}}</a></li>
                {% else %}
                    <li><a data-toggle="tab" href="#rotation_instructor_{{rotation.id}}">Week {{rotation.start_week}} - {{rotation.end_week}}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
       
        <div class="tab-content">
            {% for rotation in rotations %}

                {% include "_learningassistant_partial.html" %}

            {% endfor %}
        </div>


    {% endwith %}



    {% include "_student_partial.html" %}


    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Delete <span class="student-or-group"></span>
                </div>
                <div class="modal-body">
                    <span> Are you sure you want to delete: </span>
                     <b><span type="text" name="del_name" id="del_name"></span></b>
                     <span> ? </span>

                </div>         
                <div style="display: none;" class="alert alert-warning warning-delete-group" role="alert">
                    <span style="color: darkyellow;" class="fa fa-warning"></span>Warning! If you are deleting a group with students, the students will no longer be assigned to any group.
                </div>     
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger btn-ok">Delete</a>
                </div>
            </div>
        </div>
    </div>


{% endif %}

{% endblock %}