{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Classroom <small>Overview</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i> Dashboard
            </li>
        </ol>
    </div>
</div>

{% if not classroom %}
<div class="row">
    <div class="col-lg-12">
        <h3> You have not yet registered a classroom. </h3>
<a class="btn btn-warning" data-toggle="modal" data-target="#registerClassroom" role="button"><span class="fa fa-group"></span> Register Classroom  </a>          

    </div>
</div>

<div class="modal fade" id="registerClassroom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Register Classroom</h4>
      </div>
      <div class="modal-body">
        <h5> classroom: </h5>
        <form class="form-horizontal" id="createStudentForm" action="{% url "classroom-register" %}" method="POST">{% csrf_token %}
        {{add_classroom_form}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type="submit" value="Save" class="btn btn-primary"/>      
        </form>
      </div>
    </div>
  </div>
</div>   

{% else %}
<!-- /.row --> 

<div class="container">
    <h3> Course </h3>
    <p><strong> {{classroom.course}} </strong> <span> {{classroom.description}} </span> </p>
    <p> Professor: {{classroom.instructor.email}} </p>
</div>

{% include "_student_partial.html" %}


{% include "_group_partial.html" %}

{% include "_learningassistant_partial.html" %}

<!-- 
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Delete Student
            </div>
            <div class="modal-body">
                <span> Are you sure you want to delete this student: </span>
                 <b><span type="text" name="studentName" id="studentName"></span></b>
                 <span> ? </span>
            </div>           
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok">Delete</a>
            </div>
        </div>
    </div>
</div> -->


<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Delete <span class="student-or-group"></span>
            </div>
            <div class="modal-body">
                <span> Are you sure you want to delete: </span>
                 <b><span type="text" name="del_name" id="del_name"></span></b>
                 <span> ? </span>

            </div>         
            <div style="display: none;" class="alert alert-warning warning-delete-group" role="alert">
                <span style="color: darkyellow;" class="fa fa-warning"></span>Warning! If you are deleting a group with students, the students will no longer be assigned to any group.
            </div>     
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok">Delete</a>
            </div>
        </div>
    </div>
</div>

<!-- 
<div class="container">
    <div class="row">
        <h1>{{header}}</h1>

        {% if form.errors %}
            <p style="color: red;">
                Please correct the error{{ form.errors|pluralize }} below.
            </p>
        {% endif %}

        <form action="" name="add_students" enctype="multipart/form-data"  method="post">
            <table>
                {{ form.as_table }}
            </table>
            
            {% csrf_token %}
            <input type="submit" value="Submit">
        </form>
    </div>
</div> -->
{% endif %}
{% endblock %}